* {
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #8dc8b4;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.nav img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 110%;
  color: white;
}

.nav button {
  background-color: #8dc8b4;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

.nav button:hover {
  color: #DD5C5C;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  color: #929292;
  font-weight: lighter;
}

.buyPlus,
.buyMinus {
  width: 30px;
  height: 30px;
  background-color: white;
  border: solid 1px;
  color: #4b907b;
  border-radius: 5px;
}

.buyPlus:hover,
.buyMinus:hover {
  background-color: #4b907b;
  color: white;
}

.sellMinus,
.sellPlus {
  width: 30px;
  height: 30px;
  background-color: white;
  border: solid 1px;
  color: #d3a792;
  border-radius: 5px;
}

.sellMinus:hover,
.sellPlus:hover {
  background-color: #d3a792;
  color: white;
}

.buyQuantity, .sellQuantity {
  margin: 0 5px;
}

.flexDrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buyCoins {
  margin-top: 10px;
  background-color: white;
  border: solid 1px;
  color: #4b907b;
  padding: 10px;
  border-radius: 5px;
  width: 82px;
}

.buyCoins:hover {
  background-color: #4b907b;
  color: white;
}

.sellCoins {
  margin-top: 10px;
  background-color: white;
  border: solid 1px;
  color: #d3a792;
  padding: 10px;
  border-radius: 5px;
  width: 82px;
}

.sellCoins:hover {
  background-color: #d3a792;
  color: white;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0px 10px 0px 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.cards h2 {
  color: #1d4f44;
}

.cards__tag {
  position: absolute;
  right: 20px;
}

.cards__drop {
  display: none;
  position: relative;
  background-color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 10px;
  width: 180px;
  display: none;
  list-style: none;
  text-decoration: none;
}

.cards__drop p {
  margin-bottom: 10px;
}

.cards__drop--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__description {
  padding: 20px;
}

.cards figure {
  margin: 0;
}

.cards__image {
  width: 100%;
  height: 194px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.cards__item {
  width: 249px;
  height: 458px;
  background-color: white;
  -webkit-filter: drop-shadow(0 0 0.3rem #838383);
          filter: drop-shadow(0 0 0.3rem #838383);
  border-radius: 20px;
}

.cards__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards__buttons .buyButton {
  background-color: white;
  border: solid 1px;
  color: #4b907b;
  padding: 10px;
  border-radius: 5px;
  width: 82px;
}

.cards__buttons .buyButton:hover {
  background-color: #4b907b;
  color: white;
}

.cards__buttons .sellButton {
  background-color: white;
  border: solid 1px;
  color: #d3a792;
  padding: 10px;
  border-radius: 5px;
  width: 82px;
}

.cards__buttons .sellButton:hover {
  background-color: #d3a792;
  color: white;
}

.sign {
  font-family: "Montserrat", sans-serif;
}

.sign h2 {
  color: #1d4f44;
}

.sign input {
  border-color: #c7ddda;
}

.sign input[type="submit"] {
  background-color: white;
  border: solid 1px;
  padding: 10px;
  border-radius: 5px;
  width: 82px;
  color: #4b907b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.sign input[type="submit"]:hover {
  background-color: #4b907b;
  color: white;
}

.sign__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth p {
  margin: 10px;
}

.drop {
  display: block;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */