
//Navegación de home.html
.nav{
    display: flex;
    &__area{
        display: flex;
    }
}

.cards{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;

    &__drop{
        display: none;
        &--item{
            display: flex;
        }
    }
    &__image{
        width: 100px;
    }
}

.drop{
    display: block;
}

.visible{
    display: block;
}
.hidden{
    display: none;
}