* {
    padding: 0%;
    box-sizing: border-box;
    margin: 0;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 10px;
}

//Navegación de home.html
.nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #8dc8b4;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    img {
        height: 80px;
        object-fit: contain;
        justify-content: center;
    }
    &__area {
        display: flex;
        list-style: none;
        justify-content: space-between;
        width: 110%;
        color: white;
    }
    button {
        background-color: #8dc8b4;
        border: none;
        color: white;
        font-weight: bolder;
        font-size: larger;
        &:hover{
            color: #DD5C5C
        }
    }
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: #929292;
    font-weight: lighter;
}


.buyPlus,
.buyMinus {
    width: 30px;
    height: 30px;
    //Botton styles
    background-color: white;
    border: solid 1px;
    color: #4b907b;
    border-radius: 5px;
    &:hover{
        background-color: #4b907b;
        color: white;
    }
}
.sellMinus,
.sellPlus{
    width: 30px;
    height: 30px;
    //Botton styles
    background-color: white;
    border: solid 1px;
    color: #d3a792;
    border-radius: 5px;
    &:hover{
        background-color: #d3a792;
        color: white;
    }
}

.buyQuantity, .sellQuantity {
    margin: 0 5px;
}

.flexDrop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buyCoins {
    margin-top: 10px;
    background-color: white;
    border: solid 1px;
    color: #4b907b;
    padding: 10px;
    border-radius: 5px;
    width: 82px;
    &:hover{
        background-color: #4b907b;
        color: white; 
    }
}

.sellCoins{
    margin-top: 10px;
    background-color: white;
    border: solid 1px;
    color: #d3a792;
    padding: 10px;
    border-radius: 5px;
    width: 82px;
    &:hover{
        background-color: #d3a792;
        color: white; 
    }
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 10px 0px 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    h2 {
        color: #1d4f44;
    }
    &__tag {
        position: absolute;
        right: 20px;
    }
    &__drop {
        display: none;
        position: relative;
        background-color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 10px 10px;
        width: 180px;
        display: none;
        list-style: none;
        text-decoration: none;
        & p {
            margin-bottom: 10px;
        }
        &--item {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__description {
        padding: 20px;
    }
    figure {
        margin: 0;
    }
    &__image {
        width: 100%;
        height: 194px;
        object-fit: cover;
        border-radius: 20px;
    }
    &__item {
        width: 249px;
        height: 458px;
        background-color: white;
        filter: drop-shadow(0 0 0.3rem rgb(131, 131, 131));
        border-radius: 20px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        .buyButton {
            background-color: white;
            border: solid 1px;
            color: #4b907b;
            padding: 10px;
            border-radius: 5px;
            width: 82px;
            &:hover {
                background-color: #4b907b;
                color: white;
            }
        }
        .sellButton {
            background-color: white;
            border: solid 1px;
            color: #d3a792;
            padding: 10px;
            border-radius: 5px;
            width: 82px;
            &:hover {
                background-color: #d3a792;
                color: white;
            }
        }
    }
}

.sign {
    font-family: "Montserrat", sans-serif;
    h2 {
        color: #1d4f44;
    }
    input {
        border-color: #c7ddda;
    }
    input[type="submit"] {
        background-color: white;
        border: solid 1px;
        padding: 10px;
        border-radius: 5px;
        width: 82px;
        color: #4b907b;
        align-items: center;
        margin: 10px;
        &:hover {
            background-color: #4b907b;
            color: white;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
        margin: 10px;
    }
}

.drop {
    display: block;
}

.visible {
    display: block;
}
.hidden {
    display: none;
}
